data/HarvestedArea_spam2010/spam2010V2r0_global_H_TH.csv
data/HarvestedArea_spam2010/spam2010V2r0_global_H_TI.csv
data/HarvestedArea_spam2010/spam2010V2r0_global_H_TL.csv
data/HarvestedArea_spam2010/spam2010V2r0_global_H_TS.csv
